<mat-nav-list>
    <div class="logo py-4">
      <img src="/assets/photo1.jpg" alt="JEENISo Logo" />
    </div>
    <mat-divider></mat-divider>
    <h1 matSubheader class="mt-2">Admin dashboard</h1>
  
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/dashboard/home">
      Home 
      <mat-icon>home</mat-icon>
    </a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/dashboard/users-list">
      Users list 
      <mat-icon>edit</mat-icon>
  </a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/dashboard/accounts-manager" > 
        accounts manager  
        <mat-icon >edit</mat-icon> 
      </a>
      <a mat-list-item routerLinkActive="list-item-active" routerLink="/dashboard/training" > 
        training 
        <mat-icon >edit</mat-icon> 
      </a>


    <!-- <a mat-list-item> <mat-icon>dashboard</mat-icon> action 3  </a> -->
  </mat-nav-list>
  